.label {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--offset-md);

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    cursor: pointer;
  }

  > span {
    margin-bottom: var(--offset-xs);
    font-size: var(--offset-md);
  }
}

.errorText {
  margin-top: var(--offset-xs);
  color: var(--red);
}
