.button {
  min-width: 150px;
  box-sizing: border-box;
  padding: var(--offset-sm);
  border-bottom: 2px solid transparent;
  background-color: transparent;
  color: var(--gray);
  font-size: var(--fs-md);
  text-align: center;
  transition: var(--transition);

  &:hover,
  &:focus {
    border-bottom: 2px solid var(--green1);
    text-decoration: underline;
  }
}

.selected {
  border-bottom: 2px solid var(--green1);
  color: var(--black);
}
