.textarea {
  min-height: 80px;
  flex: 1 1 100%;
  padding: var(--offset-xs);
  border: 1px solid var(--black2);
  border-radius: var(--radius-sm);
  font-size: var(--offset-sm);
  resize: none;
  transition: var(--transition);

  &:focus {
    border-color: var(--black);
  }
}

.inputError {
  border-color: var(--red);
}
