.container {
  margin-bottom: 80px;
}

.header {
  position: fixed;
  z-index: 1;
  top: -60px;
  right: 0;
  left: 0;
  height: 60px;
  background-color: var(--green3);
  transition: var(--transition);
}

.wrapper {
  display: flex;
  max-width: 1024px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.showHeader {
  top: 0;
}

.transparent {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.title {
  font-size: var(--fs-xl);
}
