.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--black2);
}

.modal {
  position: fixed;
  z-index: var(--z-modal);
  top: 50%;
  left: 50%;
  overflow: hidden;
  min-width: 400px;
  max-width: 600px;
  box-sizing: border-box;
  padding: var(--offset-sm, --offset-md);
  background-color: var(--white);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow1);
  transform: translate(-50%, -50%);
}

.header {
  padding: var(--offset-md);
  margin: -16px -16px 0;
  background-color: var(--gray1);
}

.title {
  padding: 0;
  margin: 0;
  font-size: var(--fs-xl);
  font-weight: 600;
}

.content {
  margin: var(--offset-md);
}

.text {
  padding: 0;
  margin: 0;
  font-size: var(--fs-sm);
  font-weight: 400;

  &:not(:first-child) {
    margin-bottom: var(--offset-xs);
  }
}
