.ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  margin-top: var(--offset-xs);
  margin-right: -8px;
}

.li {
  display: flex;
  box-sizing: border-box;
  flex: 1 1 100%;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--offset-sm);
  border: 2px solid var(--black1);
  margin-right: var(--offset-sm);
  margin-bottom: var(--offset-sm);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow1);
  transition: var(--transition);

  &:hover {
    box-shadow: var(--shadow2);
  }
}

.complete {
  background-color: var(--green2);
}

.important {
  background-color: var(--red2);
}

.tasksLoading {
  position: fixed;
  z-index: var(--z-modal);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  opacity: 0.3;
}
