.item {
  overflow: hidden;
  padding: var(--offset-xs) var(--offset-sm);
  color: var(--gray);
  font-size: var(--fs-sm);
  text-overflow: ellipsis;
  transition: var(--transition);
  white-space: nowrap;

  &:focus,
  &:hover {
    background-color: var(--black1);
    color: var(--black);
    cursor: pointer;
  }

  &:first-child {
    margin-top: var(--offset-xs);
  }

  &:last-child {
    margin-bottom: var(--offset-xs);
  }
}

.item.selected {
  background-color: var(--black2);
  color: var(--black);

  &:focus,
  &:hover {
    background-color: var(--black3);
    color: var(--black);
    cursor: pointer;
  }
}
