.container {
  margin-bottom: var(--offset-sm);
}

.label {
  margin-bottom: var(--offset-xs);
  font-size: var(--offset-md);
}

.errorText {
  margin-bottom: var(--offset-xs);
  color: var(--red);
}
