.container {
  display: flex;
  flex-direction: column;
  margin: var(--offset-sm) 0;
}

.tablist {
  display: flex;
  overflow: hidden;
  width: fit-content;
  box-sizing: border-box;
  flex-wrap: nowrap;
  border: 1px solid var(--black2);
  background-color: var(--green2);
  border-radius: var(--radius-sm);
}
