.container {
  display: flex;
  flex-direction: column;
  margin: var(--offset-sm) 0;
}

.tablist {
  position: relative;
  display: flex;
  overflow: hidden;
  width: fit-content;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: nowrap;
  background-color: var(--green2);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow1);
}
