.wrapper {
  display: flex;
  justify-content: space-between;
}

.arrow {
  width: 10%;
  max-width: 70px;
  border: none;
  background-color: transparent;
  font-size: var(--fs-lg);
  transition: var(--transition);

  &:hover,
  &:focus {
    background-color: var(--black2);
    border-radius: var(--radius-sm) 0 0 var(--radius-sm);
    cursor: pointer;
  }

  &:last-child:hover,
  &:last-child:focus {
    border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
  }
}
